<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<!--
    private String titleKo;
    private String titleEn;
    private String rating;
    private Date releaseDate;
    private String genre;
    private String runningTime;
    private String synopsis;
    private String director;
    private String cast;
    private String agency;
    private String trailerUrl;
    private String status;
-->
<form action="" id="registerMovieForm">
  <h2 class="title">영화 추가</h2>
  <div>
    <ul>
      <li>
        <label class="label">
          <input class="_object-input" maxlength="30" name="name" placeholder="영화제목" type="text">
        </label>
      </li>
      <li>
        <label class="label">
          <input class="_object-input" maxlength="50" name="name" placeholder="영화제목(영어)" type="text">
        </label>
      </li>
      <li>
        <input type="submit" value="입력">
      </li>
    </ul>
  </div>
</form>

</body>
</html>