<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<header id="menuContainer" th:fragment="headerFragment">
    <div id="menu">
        <div><a th:href="@{/}"><img alt="" class="logo" th:src="@{/resources/images/logo.png}"></a></div>
        <ul class="mainMenu">
            <li class="listMenu"><a href="#"><span>예매</span></a></li>
            <li class="active listMenu"><a href="#"><span>영화</span></a></li>
            <li class="listMenu"><a href="#"><span>영화관</span></a></li>
            <li class="listMenu"><a href="#"><span>고객지원</span></a></li>
            <li class="listMenu"><a href="#"><span>마이페이지</span></a></li>
        </ul>
        <div class="loginMenu">
            <a th:href="@{/login}" th:if="${session.user == null}" class="listLogin">로그인</a>
            <span class="userName" th:if="${session.user != null}" th:text="${session.user.getName()+' 님'}"></span>
            <a th:href="@{/register}" th:if="${session.user == null}" class="listRegister">회원가입</a>
            <a th:href="@{/logout}" th:if="${session.user != null}" class="logout">로그아웃</a>
        </div>
    </div>
</header>