@charset "UTF-8";


/*region common*/

html {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

body {
    margin: unset;
    position: relative;
}


a:link, a:visited {
    color: #727272;
    text-decoration: none;
}

a:hover, a:visited:hover {
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
    font: inherit;
    margin-block: unset;
    margin-inline: unset;
}


input, select, textarea {
    background-color: inherit;
    border: unset;
    color: inherit;
    margin: unset;
    outline: unset;
    font: inherit;
    padding: unset;
}

input[type="radio"] {
    appearance: unset;
}


a, ol, ul {
    list-style-type: none;
    margin-block: unset;
    margin-inline: unset;
    padding-inline: unset;
    padding-block: unset;

}


/* header */
#menuContainer {
    border-bottom: 0.0625rem solid lightgray;
    height: 5rem;
    margin: 0;
    padding: 0;

    cursor: auto;

    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#menu {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#menu .logo {
    width: 11.1rem;
    height: 3.225rem;
}

.mainMenu {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.mainMenu > .listMenu {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.188rem;
    font-weight: 400;
    text-align: center;

    width: 7rem;
    height: 2rem;
    margin: 0 2rem;
}
.mainMenu > .listMenu >a {
    text-decoration: none;
}

.loginMenu {
    margin: 2rem 0;

    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.loginMenu > .listRegister {
    border-left: 0.0625rem solid dimgrey;
    margin-left: 1rem;
    padding-left: 1rem;
}

/*.content {*/
/*    display: flex;*/
/*    min-height: 100vh;*/
/*    position: relative;*/
/*    justify-content: center;*/
/*    align-items: center*/
/*}*/


/* footer */
footer {
    background-color: lightgray;
    min-height: 5rem;
    position: absolute;
    width: 100%;
}







._object-button {
    border-radius: 0.25rem;
    background-color: #e0e0e0;
    cursor: pointer;
    padding: 0.6rem 0.8rem;
    margin: 0 0.5rem;
    font-size: 1rem;
}

._object-button:hover {
    filter: brightness(95%);
}

._object-button:active {
    filter: brightness(90%);

}

._object-button:disabled {
    background-color: #eeeeee;
    color: #bdbdbd;
    cursor: default;
    filter: none;
}

._object-button._blue {
    background-color: #576ea0;
}


._object-button._pink {
    background-color: #ef5350;
}


._object-button._color-concept {
    background-color: #803e7e;
}

._object-button._color-concept:hover {
    filter: brightness(95%);
}

._object-button._color-concept:active {
    filter: brightness(90%);
}


/*endregion*/
