@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");

/*region payForm*/
body {

}

* {
    margin-inline: unset;
    margin-block: unset;
    padding-inline: unset;
    padding-block: unset;
}


#payForm {
    min-width: 70rem;
    height: 40rem;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    opacity: 0;
    pointer-events: none;
    margin-top: 3rem;
}

#payForm.visible{
    opacity: 1;
    pointer-events: all;
}


#payForm > .head {
    height: 1.5rem;
    background-color: #81c5c0;
    font-weight: 600;
    padding: 0.7rem 2rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;

}

#payForm > .head > .title {
    font-size: 1.3rem;
    float: left;
}


#payForm > .head > .right {
    float: right;
    font-size: 1.3rem;
    color: black;

}

#payForm > .head > .right > * {

    color: black;

}

#payForm > .group {
    background-color: #f8f8f8;
    box-sizing: border-box;
}


#payForm > .group + .group {
    border-left: 0.0125rem solid #abb2b9;
}

#payForm > .group > .title {
    box-sizing: border-box;
    font-size: 1.3rem;
    font-weight: 500;
    padding: 0.7rem;
    background-color: #462d82;
    color: white;
    text-align: center;
}

#payForm >.group >.subGroup >.box{
    margin: 0.5rem;
}

#payForm > .reservation-container {
    float: left;
    width: 40%;
    height: 40rem;
    border-bottom-left-radius: 0.5rem;
}


#payForm > .reservation-container > .information,
#payForm > .reservation-container > .detail-information,
#payForm > .price-container > .information {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
}

#payForm > .reservation-container > .detail-information {
    border-top: 0.0125rem solid #abb2b9;
    margin: 0.5rem 0;
    padding: 1rem 0;
}

#payForm > .reservation-container > .information > .image {
    align-self: center;
    width: 40%;

    margin-bottom: 1rem;
}


#payForm > .reservation-container > .information > .movieTitle {
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin-bottom: 1rem;
}

#payForm > .reservation-container > .information > .movieTitle >.movieName{
    font-size: 1.4rem;
}

#payForm > .reservation-container > .information > .movieTitle > .image {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.5rem;
}

#payForm > .reservation-container > .information > .movieTitle > .image.all {
    background: url("../images/all-grade.png");
    background-size: cover;
}

#payForm > .reservation-container > .information > .movieTitle > .image.child {
    background: url("../images/12-grade.png");
    background-size: cover;
}

#payForm > .reservation-container > .information > .movieTitle > .image.fifteen {
    background: url("../images/15-grade.png");
    background-size: cover;
}

#payForm > .reservation-container > .information > .movieTitle > .image.adult {
    background: url("../images/18-grade.png");
    background-size: cover;
}

#payForm > .reservation-container > .information > .box>.subtitle,
#payForm > .reservation-container > .detail-information > .box >.subtitle {
    margin: 0.5rem 4rem 0.5rem 3rem;
    font-size: 1.1rem;
    font-weight: 500;

}

#payForm >.reservation-container>.detail-information >.theater>.text{
    margin-left : -0.8rem;
}

#payForm > .payWay-container {
    float: left;
    height: 40rem;
    width: 30%;

    position: relative;
}

#payForm > .payWay-container > .button-container,
#payForm > .price-container >.button-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-self: stretch;

    position: absolute;
    bottom: 0;
}

#payForm > .payWay-container > .button-container > ._object-button{
    margin: unset;
    font-size: 1.2rem;
    text-decoration: none;
    color: black;
    font-weight: 500;
    text-align: center;
}


#payForm > .price-container {
    float: left;
    height: 40rem;
    width: 30%;
    border-bottom-right-radius: 0.5rem;

    position: relative;
}

#payForm > .price-container > .information {
    font-size: 1rem;
    border-bottom: 0.0125rem solid #abb2b9;
    box-sizing: border-box;
    padding-bottom: 1rem;
}

#payForm > .price-container >.information >.subtitle {
    font-size: 1.3rem;
    margin: 1rem;
}


#payForm > .price-container >.information >.box{
    margin: 1rem 0 1rem 2rem;

}

#payForm > .price-container >.information >.box > .subtitle{
    font-size : 1rem;
}

#payForm > .price-container >.information >.box >.adult+.text{
    margin-left: 0.9rem;
}

#payForm > .price-container >.information >.box> .text{
    padding: 2rem;
    font-size: 0.9rem;
}

#payForm > .price-container > ._object-button {
    width: 100%;
    margin: unset;
    color: white;
    font-size: 1.2rem;

    position: absolute;
    bottom: 0;
}

#payForm > .price-container > .button-container > ._object-button{
    margin: unset;
    font-size: 1.2rem;
    text-decoration: none;
    color: white;
    font-weight: 500;
    text-align: center;
}


#payForm > .price-container >.totalPrice {
    padding: 1rem 0;
}

#payForm > .price-container >.totalPrice>.subtitle {
    font-size: 1.3rem;
    margin-left: 1rem;
}




/*endregion*/


/* region 결제-container*/
#container {
    height: 100vh;
    pointer-events: none;
    opacity: 0;


    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 3rem;
    transition-property: opacity;
}


#container.visible {
    pointer-events: all;
    opacity: 1;
}


#container > .card-container {
    user-select: none;
    border-radius: 0.5rem;
    position: relative;
    height: 12rem;
    width: 22rem;
    /*margin-bottom: -10rem;*/
    background: linear-gradient(45deg, #187ab7, white);
}


#container > .card-container > .imageBox {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0.65rem 1rem;
}

#container > .card-container > .imageBox > .image {
    height: 3rem;
}

#container > .card-container > .card-number-box {
    padding: 2.5rem 2rem;
    font-size: 1.5rem;
    text-align: center;
}

#container > .card-container > .card-number-box > * + * {
    margin-left: 0.5rem;
}

#container > .card-container > .box-container {
    margin-top: -2rem;
    display: flex;
    flex-direction: column;

    margin-bottom: 1rem;
}

#container > .card-container > .box-container > .box {
    align-self: flex-end;
    padding-right: 1rem;
    font-size: 1rem;
}

#container > .card-container > .box-container > .box > .title {
    font-size: 0.7rem;
}

#container > .card-container > .box-container > .box > .subtitle {
    text-align: center;
}


#container > #cardForm {
    margin: 2rem 2rem;
    width: 30rem;

    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#container > #cardForm > .title {
    font-size: 1.3rem;
    padding-bottom: 0.5rem;
    border-bottom: 0.25rem solid #81c5c0;
    text-align: center;
    font-weight: 600;
}

#container > #cardForm > .label {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    padding: 0 2rem;
}

#container > #cardForm > .label > .input,
#container > #cardForm > .label > .pwd > .input,
#container > #cardForm > .label > .expire > .input {
    border-bottom: 0.0125rem solid #727272;
    padding: 0.5rem;
    background: none;
    color: grey;
}

#container > #cardForm > .label > .pwd > .input,
#container > #cardForm > .label > .expire > .input {
    width: 2rem;
    text-align: center;
    letter-spacing: 0.3rem;
}

#container > #cardForm > .label > .birth-input {
    width: 8rem;
    letter-spacing: 0.3rem;
}

#container > #cardForm > .label > .number {
    width: 100%;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}

#container > #cardForm > .label > .number > .input {
    width: calc((100% / 4) - 3.5rem);
    border-bottom: 0.0125rem solid #727272;
    padding: 0.5rem 0.5rem;
    background: none;
    color: grey;
    box-sizing: content-box;
    letter-spacing: 0.1rem;
}

#container > #cardForm > .label > .number > .input + .input {
    margin-left: 0.5rem;
}

#container > #cardForm > .label > .subtitle {
    font-size: 0.8rem;
    margin-top: 2rem;
}


#container > #cardForm > .button-container {
    align-items: stretch;
    display: flex;
    flex-direction: row;
    justify-content: center;

    gap: 0.5rem;
    margin-top: 3rem;
}

#container > #cardForm > .button-container > ._object-button._color-concept {
    color: white;
    text-align: center;
    text-decoration: none;

    margin: 0 0.5rem;
    padding: 0.5rem 0.5rem;
    box-sizing: border-box;
}

#container > #cardForm > .button-container > ._object-button {
    color: black;
    text-align: center;
    text-decoration: none;

    width: 10rem;
    margin: 0 0.5rem;
    padding: 0.5rem 0.5rem;
    box-sizing: border-box;
}


/*endregion*/