<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>FilmSQ</title>
    <script defer th:src="@{/resources/scripts/common.js}"></script>
    <script defer th:src="@{/resources/scripts/movie.pay.js}"></script>
    <link rel="stylesheet" th:href="@{/resources/stylesheets/common.css}">
    <link rel="stylesheet" th:href="@{/resources/stylesheets/movie.css}">
</head>
<body>
<form id="payForm" class="visible">
    <div class="head">
        <span class="title">영화예매</span>
        <!--        <div class="right">-->
        <!--            <a class="link" href="#">예매 다시하기</a>-->
        <!--        </div>-->
    </div>
    <div class="group reservation-container">
        <div class="title">예매 정보</div>
        <div class="information">
            <img class="image" src="/resources/images/movie-poster.jpg" alt="">
            <div class="text movieTitle">
                <div class="image fifteen"></div>
                <b>영화제목</b>
            </div>
            <span class="text">극장</span>
            <span class="text">날짜</span>
        </div>
        <div class="seat-container">
            <span class="text">상영관</span>
            <span class="text">시간</span>
            <span class="text">인원</span>
            <span class="text seat">좌석</span>
        </div>
    </div>
    <div class="group payWay-container">
        <div class="title">결제수단 선택</div>
        <div class="button-container">
            <a class="link _object-button" th:href="@{/charge/payment}">예매 다시하기</a>
        </div>
    </div>
    <div class="group price-container">
        <div class="title">결제금액</div>
        <div class="information">
            <span class="text">티켓금액</span>
            <span class="text">성인</span>
            <span class="text">청소년</span>
            <span class="text">어린이</span>
        </div>
        <div class="totalPrice">
            <span class="title">총 결제 금액</span>
        </div>
        <input class="_object-button _pink" type="submit" value="결제하기">
    </div>
</form>
<div id="container">
    <div class="card-container">
        <div class="imageBox">
            <img class="image" src="/resources/images/chip.png" alt="">
            <img class="image" src="/resources/images/logo.png" alt="">
        </div>

        <div class="card-number-box">
            <span class="number">####</span><span class="number">####</span><span
                class="number">####</span><span class="number">####</span>
        </div>
        <div class="box-container">
            <div class="box">
                <span class="title">MONTH/YEAR</span>
                <div class="subtitle">
                    <span class="month">MM</span>
                    <span>/</span>
                    <span class="year">YY</span>
                </div>
            </div>
        </div>
    </div>
    <form id="cardForm">
        <span class="title">신용카드 번호입력</span>
        <label class="label">
            <span class="subtitle">카드번호</span>
            <span class="number">
                <input autofocus placeholder="0000" type="text" maxlength="4" class="number-input input"
                       name="cNumber-1">
                <input autofocus placeholder="0000" type="text" maxlength="4" class="number-input input"
                       name="cNumber-2">
                <input autofocus placeholder="0000" type="text" maxlength="4" class="number-input input"
                       name="cNumber-3">
                <input autofocus placeholder="0000" type="text" maxlength="4" class="number-input input"
                       name="cNumber-4">
            </span>
        </label>
        <label class="label">
            <span class="subtitle">비밀번호</span>
            <span class="pwd">
                <input autofocus placeholder="00" type="text" class="pwd-input input" name="cPassword" maxlength="2">
                <span>**</span>
            </span>
        </label>
        <label class="label">
            <span class="subtitle">유효기간</span>
            <span class="expire">
                <input placeholder="MM" maxlength="2" type="text" class="expire-input input" name="cMonth">
                <span>/</span>
                <input placeholder="YY" maxlength="2" type="text" class="expire-input input" name="cYear">
            </span>
        </label>
        <label class="label">
            <span class="subtitle">생년월일</span>
            <input maxlength="8" placeholder="20000101" type="text" class="birth-input input" name="cBirth">
        </label>
        <div class="button-container">
            <a class="_object-button button cancel" href="#">취소</a>
            <input class="_object-button _color-concept button next" type="submit" value="확인">
        </div>
    </form>
</div>
</body>
</html>