<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/defaultLayout}">
<head>
    <meta charset="UTF-8">
    <title>MovieSQ</title>
    <script defer th:src="@{/resources/scripts/common.js}"></script>
    <script defer th:src="@{/resources/scripts/reserve.js}"></script>
    <link rel="stylesheet" th:href="@{/resources/stylesheets/common.css}">
    <link rel="stylesheet" th:href="@{/resources/stylesheets/reserve.css}">
</head>
<body>
<th:block layout:fragment="customContents">
    <form id="payForm" class="visible">
        <div class="head">
            <span class="title">영화예매</span>
        </div>
        <div class="group reservation-container">
            <div class="title">예매 정보</div>
            <div class="subGroup information">
                <img class="image" src="/resources/images/movie-poster.jpg" alt="">
                <div class="text movieTitle">
                    <div class="image fifteen"></div>
                    <b class="movieName">범죄도시3</b>
                </div>
                <div class="box">
                    <span class="subtitle">극장</span>
                    <span class="text">대구 상인점</span>
                </div>
                <div class="box">
                    <span class="subtitle">날짜</span>
                    <span class="text">2023-06-01</span>
                </div>
            </div>
            <div class="subGroup detail-information">
                <div class="box theater">
                    <span class="subtitle">상영관</span>
                    <span class="text">1관</span>
                </div>
                <div class="box">
                    <span class="subtitle">시간</span>
                    <span class="text">10:00</span>
                </div>
                <div class="box">
                    <span class="subtitle">인원</span>
                    <span class="text">2명</span>
                </div>
                <div class="box">
                    <span class="subtitle">좌석</span>
                    <span class="text seat">A1,A2</span>
                </div>
            </div>
        </div>
        <div class="group payWay-container">
            <div class="title">결제수단 선택</div>
            <div class="button-container">
                <a class="link _object-button" href="#">예매 다시하기</a>
            </div>
        </div>
        <div class="group price-container">
            <div class="title">결제금액</div>
            <div class="information">
                <span class="subtitle">티켓금액 <span>(매)</span></span>
                <div class="box">
                    <span class="adult subtitle">성인</span>
                    <span class="text">가격 * 명</span>
                    <span class="text">가격</span>
                </div>
                <div class="box">
                    <span class="fifteen subtitle">청소년</span>
                    <span class="text">가격 * 명</span>
                    <span class="text">가격</span>
                </div>
                <div class="box">
                    <span class="child subtitle">어린이</span>
                    <span class="text">가격 * 명</span>
                    <span class="text">가격</span>
                </div>
            </div>
            <div class="totalPrice">
                <span class="subtitle">총 결제 금액</span>
            </div>
            <div class="button-container">
                <input type="submit" class="_object-button _orange" href="/charge/payment" value="결제하기">
            </div>
        </div>
    </form>
    <div id="container">
        <div class="card-container">
            <div class="imageBox">
                <img class="image chip" src="/resources/images/chip.png" alt="">
                <img class="image logo" src="/resources/images/logo.png" alt="">
            </div>

            <div class="card-number-box">
                <span class="number">####</span><span class="number">####</span><span
                    class="number">####</span><span class="number">####</span>
            </div>
            <div class="box-container">
                <div class="box">
                    <span class="title">MONTH/YEAR</span>
                    <div class="subtitle">
                        <span class="month">MM</span>
                        <span>/</span>
                        <span class="year">YY</span>
                    </div>
                </div>
            </div>
        </div>
        <form id="cardForm">
            <span class="title">신용카드 번호입력</span>
            <label class="label">
                <span class="subtitle">카드번호</span>
                <span class="number">
                <input autofocus placeholder="0000" type="text" maxlength="4" class="number-input input"
                       name="cNumber-1">
                <input  placeholder="0000" type="text" maxlength="4" class="number-input input"
                       name="cNumber-2">
                <input  placeholder="0000" type="text" maxlength="4" class="number-input input"
                       name="cNumber-3">
                <input  placeholder="0000" type="text" maxlength="4" class="number-input input"
                       name="cNumber-4">
            </span>
            </label>
            <label class="label">
                <span class="subtitle">비밀번호</span>
                <span class="pwd">
                <input autofocus placeholder="00" type="text" class="pwd-input input" name="cPassword" maxlength="2">
                <span>**</span>
            </span>
            </label>
            <label class="label">
                <span class="subtitle">유효기간</span>
                <span class="expire">
                <input placeholder="MM" maxlength="2" type="text" class="expire-input input" name="cMonth">
                <span>/</span>
                <input placeholder="YY" maxlength="2" type="text" class="expire-input input" name="cYear">
            </span>
            </label>
            <label class="label">
                <span class="subtitle">생년월일</span>
                <input maxlength="8" placeholder="20000101" type="text" class="birth-input input" name="cBirth">
            </label>
            <div class="button-container">
                <a class="_object-button button cancel" th:href="@{/reserve/payment}">취소</a>
                <input class="_object-button _color-concept button next" type="submit" value="확인">
            </div>
        </form>
    </div>
</th:block>
</body>
</html>