<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/defaultLayout}">
<head>
    <meta charset="UTF-8">
    <title>MovieSQ</title>
  <script defer th:src="@{/resources/scripts/common.js}"></script>
  <script defer th:src="@{/resources/scripts/register.js}"></script>
  <link rel="stylesheet" th:href="@{/resources/stylesheets/common.css}">
  <link rel="stylesheet" th:href="@{/resources/stylesheets/user.css}">

</head>
<body>
<th:block layout:fragment="customContents">
<form id="registerForm" class="step-4">
  <header class="header">
    <div class="text-container">
      <h2 class="title">회원가입</h2>
      <h3 class="subtitle step-1">본인 인증</h3>
      <h3 class="subtitle step-2">서비스 이용약관 & 개인정보 처리방침</h3>
      <h3 class="subtitle step-3">개인 정보 입력</h3>
      <h3 class="subtitle step-4">회원가입 완료</h3>
    </div>
    <div class="step-container">
      <div class="number-container">
        <div class="number step-1">1</div>
        <div class="number step-2">2</div>
        <div class="number step-3">3</div>
        <div class="number step-4">4</div>
      </div>
      <div class="stage-container">
        <div class="stage step-1">STEP1</div>
        <div class="stage step-2">STEP2</div>
        <div class="stage step-3">STEP3</div>
        <div class="stage step-4">STEP4</div>
      </div>
    </div>
  </header>
  <section class="section step-1">
    <span class="subtitle">연락처</span>
    <label class="label button-container">
      <input autofocus type="text" class="_object-input input" maxlength="12" name="cContact"
             placeholder="휴대전화 ('-' 없이 입력)">
      <input type="button" class="_object-button" name="cContactSend" value="인증번호 전송">
    </label>
    <span class="warning contact" rel="cContactWarning"></span>
    <span class="subtitle">인증번호 확인</span>
    <label class="label button-container">
      <input disabled type="text" class="_object-input input"
             name="cContactCode" maxlength="6" placeholder="인증번호 (6자리)">
      <input disabled class="_object-button" name="cContactVerify" type="button" value="인증번호 확인">
    </label>
    <input hidden name="contactSalt"  type="hidden">
    <span class="warning contactCode" rel="cContactCodeWarning"></span>
  </section>
  <section class="section step-2">
    <label class="label">
      <span class="title">서비스 이용약관</span>
      <textarea readonly class="_object-input content" spellcheck="false">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris malesuada, velit sed efficitur gravida, felis ex auctor ipsum, eu facilisis libero ipsum vel magna. Donec metus diam, feugiat non congue in, auctor quis ex. Praesent vitae rutrum risus, at dignissim tellus. Ut ipsum libero, bibendum vitae arcu id, molestie pellentesque mi. Morbi quis quam non dui ornare sagittis. Etiam sed eros augue. Phasellus a nibh vitae dui cursus tincidunt. Etiam sed malesuada nulla. Fusce lacinia ligula nec est volutpat aliquam. Aliquam purus ex, pulvinar id tellus vel, interdum ultricies sapien. Quisque finibus pulvinar dolor ut bibendum.

Proin eget orci finibus, vulputate elit ut, congue tortor. Mauris est magna, malesuada vitae dolor sed, hendrerit tincidunt massa. Curabitur massa mauris, blandit eu volutpat vitae, scelerisque at ante. Nullam suscipit ex augue, a cursus felis viverra eget. Praesent sodales elit quam, sed maximus massa sollicitudin ut. Morbi id elit id leo viverra porttitor eget sed risus. Praesent fringilla quam nec justo facilisis faucibus. Pellentesque eget orci ullamcorper, gravida nisl et, hendrerit eros. Donec varius rutrum neque ut eleifend. Cras eget massa sollicitudin massa pellentesque auctor ac et justo. Cras faucibus congue ligula, eu dapibus mi lacinia a. Maecenas accumsan, tellus ut malesuada rhoncus, quam tellus lobortis velit, sed tempus odio dolor quis arcu. Maecenas viverra sapien at imperdiet lacinia. Nam erat magna, ultrices vel mollis sed, posuere nec augue. Duis tristique vehicula leo.

Nullam tortor eros, fermentum elementum nisi in, bibendum euismod sem. Curabitur sollicitudin, sem id egestas iaculis, sapien justo sagittis lorem, non auctor enim nibh vel arcu. Phasellus mattis venenatis pretium. Duis blandit leo sed mauris vehicula, eu imperdiet libero facilisis. Phasellus a cursus ligula. Aliquam nec diam eu odio mattis aliquam. Ut turpis risus, ultrices sit amet magna vitae, viverra fermentum lectus. Nullam imperdiet commodo diam, ultrices tincidunt leo congue vel. Nam lobortis in mauris et placerat. Duis lectus risus, tincidunt vel augue eu, aliquam malesuada massa. Morbi mollis neque sed ipsum commodo placerat. Nullam cursus velit a feugiat sodales. In finibus nibh in tempor luctus. In molestie vulputate libero vitae feugiat.

Morbi ac finibus leo. Mauris ut eleifend justo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Maecenas sed cursus nisi. Etiam lobortis metus ac gravida efficitur. Ut ut consequat mauris, eget dapibus velit. Donec ac libero dolor. Pellentesque molestie at turpis sit amet blandit.

Morbi rutrum neque semper, dictum ex suscipit, congue magna. Fusce tortor arcu, pulvinar a turpis in, hendrerit porttitor nisl. Fusce eget ullamcorper libero, ultricies venenatis dui. Donec nec iaculis ante. Aenean vitae tortor aliquam, tristique ex et, commodo nisl. Vestibulum aliquam congue risus, vitae sodales velit dapibus ut. Donec volutpat ipsum in tellus iaculis ultrices. Pellentesque quis ornare elit. Phasellus tristique, libero non rhoncus malesuada, ante orci lobortis ex, ac ultrices neque augue vitae orci. Morbi commodo posuere convallis. Fusce consequat vel neque vel sodales.</textarea>
    </label>
    <label class="check-container">
      <input class="_check_input" name="agreeService" type="checkbox">
      <span class="text">서비스 이용약관 동의 <span class="color">(필수)</span></span>
    </label>
    <label class="label">
      <span class="title">개인정보 수집 및 이용 </span>
      <textarea readonly class="_object-input content" spellcheck="false">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris malesuada, velit sed efficitur gravida, felis ex auctor ipsum, eu facilisis libero ipsum vel magna. Donec metus diam, feugiat non congue in, auctor quis ex. Praesent vitae rutrum risus, at dignissim tellus. Ut ipsum libero, bibendum vitae arcu id, molestie pellentesque mi. Morbi quis quam non dui ornare sagittis. Etiam sed eros augue. Phasellus a nibh vitae dui cursus tincidunt. Etiam sed malesuada nulla. Fusce lacinia ligula nec est volutpat aliquam. Aliquam purus ex, pulvinar id tellus vel, interdum ultricies sapien. Quisque finibus pulvinar dolor ut bibendum.

Proin eget orci finibus, vulputate elit ut, congue tortor. Mauris est magna, malesuada vitae dolor sed, hendrerit tincidunt massa. Curabitur massa mauris, blandit eu volutpat vitae, scelerisque at ante. Nullam suscipit ex augue, a cursus felis viverra eget. Praesent sodales elit quam, sed maximus massa sollicitudin ut. Morbi id elit id leo viverra porttitor eget sed risus. Praesent fringilla quam nec justo facilisis faucibus. Pellentesque eget orci ullamcorper, gravida nisl et, hendrerit eros. Donec varius rutrum neque ut eleifend. Cras eget massa sollicitudin massa pellentesque auctor ac et justo. Cras faucibus congue ligula, eu dapibus mi lacinia a. Maecenas accumsan, tellus ut malesuada rhoncus, quam tellus lobortis velit, sed tempus odio dolor quis arcu. Maecenas viverra sapien at imperdiet lacinia. Nam erat magna, ultrices vel mollis sed, posuere nec augue. Duis tristique vehicula leo.

Nullam tortor eros, fermentum elementum nisi in, bibendum euismod sem. Curabitur sollicitudin, sem id egestas iaculis, sapien justo sagittis lorem, non auctor enim nibh vel arcu. Phasellus mattis venenatis pretium. Duis blandit leo sed mauris vehicula, eu imperdiet libero facilisis. Phasellus a cursus ligula. Aliquam nec diam eu odio mattis aliquam. Ut turpis risus, ultrices sit amet magna vitae, viverra fermentum lectus. Nullam imperdiet commodo diam, ultrices tincidunt leo congue vel. Nam lobortis in mauris et placerat. Duis lectus risus, tincidunt vel augue eu, aliquam malesuada massa. Morbi mollis neque sed ipsum commodo placerat. Nullam cursus velit a feugiat sodales. In finibus nibh in tempor luctus. In molestie vulputate libero vitae feugiat.

Morbi ac finibus leo. Mauris ut eleifend justo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Maecenas sed cursus nisi. Etiam lobortis metus ac gravida efficitur. Ut ut consequat mauris, eget dapibus velit. Donec ac libero dolor. Pellentesque molestie at turpis sit amet blandit.

Morbi rutrum neque semper, dictum ex suscipit, congue magna. Fusce tortor arcu, pulvinar a turpis in, hendrerit porttitor nisl. Fusce eget ullamcorper libero, ultricies venenatis dui. Donec nec iaculis ante. Aenean vitae tortor aliquam, tristique ex et, commodo nisl. Vestibulum aliquam congue risus, vitae sodales velit dapibus ut. Donec volutpat ipsum in tellus iaculis ultrices. Pellentesque quis ornare elit. Phasellus tristique, libero non rhoncus malesuada, ante orci lobortis ex, ac ultrices neque augue vitae orci. Morbi commodo posuere convallis. Fusce consequat vel neque vel sodales.</textarea>
    </label>
    <label class="check-container">
      <input class="_check-input" name="agreePrivacy" type="checkbox">
      <span class="text">개인정보 수집 및 이용 동의 <span class="color">(필수)</span></span>
    </label>
    <span class="warning term" rel="agreeWarning"></span>
  </section>
  <section class="section step-3">
    <span class="subtitle">이름</span>
    <label class="label">
      <input autofocus class="_object-input input" maxlength="50" name="name" placeholder="성명 입력" type="text">
    </label>
    <span class="warning name" rel="nameWarning"></span>
    <span class="subtitle">생년월일</span>
    <label class="label">
      <input autofocus type="date" class="_object-input input" maxlength="10" name="birth" placeholder="8자리, '-'제외">
    </label>
    <span class="warning birth" rel="birthWarning"></span>
    <span class="subtitle">아이디</span>
    <label class="label">
      <input autofocus type="email" class="_object-input input" maxlength="50" name="email"
             placeholder="아이디 (이메일)">
    </label>
    <span class="warning email" rel="emailWarning"></span>
    <span class="subtitle">비밀번호</span>
    <label class="label password">
      <input type="password" class="_object-input input password" maxlength="20" name="password"
             placeholder="대문자+소문자+숫자+특수문자 1개이상포함 8~20자리">
    </label>
    <span class="warning password" rel="passwordWarning"></span>
    <span class="subtitle">비밀번호 확인</span>
    <label class="label">
      <input class="_object-input input" maxlength="50" name="passwordCheck" placeholder="비밀번호 확인"
             type="password">
    </label>
    <span class="warning password" rel="passwordCheckWarning"></span>
  </section>
  <section class="section step-4">
    <img class="image" th:src="@{/resources/images/congratulation.jpg}" alt="">
    <span class="title text"><span id="user" >홍길동</span>님 회원가입이 완료되었습니다.</span>
    <span class="text">완료버튼 누르면 로그인 화면으로 이동합니다.</span>
    <span class="text">로그인 이후 MovieSQ 서비스 이용이 가능합니다.</span>
  </section>
  <div class="button-container">
    <a class="_object-button button cancel" href="#">취소</a>
    <a class="_object-button button main" th:href="@{/}">메인화면</a>
    <input disabled class="_object-button _color-concept button next" type="submit" value="다음" name="next">
    <a class="_object-button _color-concept button finish" th:href="@{/login}">완료</a>
  </div>
</form>
</th:block>
</body>
</html>